  html {
      box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
      box-sizing: inherit;
  }
  
  body {
      font-family: 'Roboto', 'Open Sans', sans-serif;
      font-style: normal;
      font-size: 16px;
      line-height: 1.2;
      font-weight: normal;
      color: #666666;
  }
  
  img {
      max-width: 100%;
      height: auto;
  }
  
  .survival {
      background: url("../assets/intro-bg.jpg") no-repeat center;
      background-size: cover;
      min-width: 1440px;
      background-color: #02160b;
  }
  
  .wrapper {
      width: 1200px;
      margin: 0 auto;
  }
  /* Header stles start*/
  
  .header_wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
      height: 80px;
      padding: 19px 0 0 0;
  }
  
  .header_logo-name {
      font-family: 'Roboto', sans-serif;
      width: 155px;
      height: 60px;
      margin-left: 15px;
      font-size: 32px;
      line-height: 60px;
      color: #F7F7F7;
      text-decoration: none;
      text-transform: uppercase;
  }
  
  .header_logo-link {
      display: flex;
      align-items: center;
      text-decoration: none;
  }
  
  .header_logo-pic {
      width: 70px;
      height: 60px;
  }
  
  .header_list {
      display: flex;
      flex-wrap: wrap;
  }
  
  .header_item {
      margin-right: 61px;
      font-family: "Open Sans";
  }
  
  #contacts {
      margin-left: 2px;
  }
  
  .header_item:last-child {
      margin-right: 0;
  }
  
  .header_link {
      font-family: 'Open Sans', sans-serif;
      font-size: 23px;
      line-height: 60px;
      color: #F7F7F7;
      text-decoration: none;
  }
  
  .header_link:hover,
  .header_link:focus,
  .header_link:active {
      color: #CD6326;
  }
  
  .button_signIn {
      width: 120px;
      height: 50px;
      background: transparent url(.jpg) no-repeat center;
      border: 2px solid #CD6326;
      border-radius: 5px;
      border-style: solid;
      font-size: 23px;
      font-weight: 400;
      line-height: 27px;
      color: #F7F7F7;
      padding: 2px 6px;
  }
  
  .button_signIn:hover {
      background: #CD6326;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .button_signIn:focus,
  .button_signIn:active {
      background: #8F5613;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  /* Header stles end*/
  /* intro stles start*/
  
  .main_survival {
      height: 700px;
      padding-top: 120px;
  }
  
  .intro_title {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 72px;
      color: #CD6326;
      letter-spacing: 2px;
      margin-bottom: 51px;
  }
  
  .intro_subtitle {
      max-width: 274px;
      height: 108px;
      color: #F7F7F7;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 49px;
      letter-spacing: 0.47px;
  }
  
  .button_donate {
      width: 160px;
      height: 60px;
      background: #CD6326;
      border-radius: 5px;
      border-style: none;
      font-size: 23px;
      font-weight: 400;
      line-height: 27px;
      text-align: center;
      padding: 16px 42px;
      color: #F7F7F7;
  }
  
  .button_donate:hover {
      background: #E39128;
  }
  
  .button_donate:active,
  .button_donate:focus {
      background: #8F5613;
  }
  /* intro stles end*/
  /*Articles styles start*/
  
  .latest_articles {
      background-size: cover;
      background: #CCCCCC;
  }
  
  .articles_wrapper {
      max-height: 1368px;
      position: relative;
  }
  
  .article_title {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: 72px;
      text-align: center;
      color: #333333;
      padding-top: 120px;
      margin-bottom: 20px;
  }
  
  .article_subtitle {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 36px;
      text-align: center;
      color: #666666;
      margin-bottom: 120px;
  }
  
  .articles_cards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 360px
  }
  
  .vector {
      cursor: pointer;
      transition: .2s all;
  }
  
  .vector:hover,
  .vector:focus {
      opacity: .75;
  }
  
  .pic_card-group {
      position: relative;
      text-align: center;
  }
  
  .label_group {
      font-family: 'Open Sans', sans-serif;
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      text-align: center;
      top: 68%;
      color: #fff;
      width: 60%;
  }
  
  .article_pic {
      position: relative;
      max-width: 300px;
      max-height: 360px;
      cursor: pointer;
  }
  
  .pic_lable {
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 22px;
      line-height: 36px;
      text-align: center;
      color: #F7F7F7;
      margin-bottom: 10px;
  }
  
  .pic_desc {
      width: 186px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 17px;
      line-height: 27px;
      text-align: center;
      color: #F7F7F7;
      margin-bottom: 40px;
      background-image: url(.);
  }
  /*Articles styles end*/
  /*Get Notified style start*/
  
  .get_notified {
      background-size: cover;
      background: #CCCCCC;
  }
  
  .email_field {
      display: -ms-inline-grid;
      grid-template-rows: 1fr;
      grid-row-gap: 0px;
      align-items: center;
      text-align: center;
      padding-bottom: 240px;
  }
  
  .notify_message {
      font-family: 'Open Sans', sans-serif;
      font-size: 27px;
      line-height: 40px;
      text-align: center;
      color: #333333;
      padding-top: 239px;
      padding-bottom: 60px;
  }
  
  .email_field {
      font-family: 'Roboto', sans-serif;
      display: flex;
      align-items: center;
      padding: 0 269px 240px;
  }
  
  .email_form {
      background: transparent;
      width: 540px;
      height: 60px;
      font-size: 23px;
      line-height: 27px;
      padding: 0 10px;
      border: 1px solid #666666;
  }
  
  .email_submit {
      font-family: 'Roboto', sans-serif;
      width: 120px;
      height: 60px;
      font-size: 23px;
      line-height: 27px;
      align-items: center;
      text-align: center;
      background: #CD6326;
      border: 1px solid #CD6326;
      border-radius: 0px 5px 5px 0px;
      color: #F7F7F7;
  }
  
  .email_submit:hover {
      background: #E39128;
  }
  
  .email_submit:active,
  .email_submit:focus {
      background: #8F5613;
  }
  /*Get Notified style end*/
  /*Footer style start*/
  
  .footer {
      min-width: 1440px;
      height: 359px;
      background-color: #181617;
      background: url(../assets/Footer.jpg) no-repeat center;
      background-size: cover;
  }
  
  .footer_wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: 149px 0;
  }
  
  .footer_logo {
      align-items: flex-start;
      height: 60px;
  }
  
  .footer_logo-name {
      height: 60px;
      margin-left: 15px;
      font-size: 32px;
      line-height: 60px;
      color: #F7F7F7;
      font-family: 'Roboto', sans-serif;
      text-decoration: none;
      text-transform: uppercase;
  }
  
  .footer_logo-link {
      display: flex;
      align-items: center;
      text-decoration: none;
  }
  
  .footer_logo-pic {
      width: 70px;
      height: 60px;
  }
  
  .footer_list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 0 120px 0 135px;
  }
  
  #AboutUs {
      padding: 0 87px 0 86px;
  }
  
  .footer_link {
      font-family: 'Open Sans', sans-serif;
      font-size: 23px;
      line-height: 60px;
      color: #F7F7F7;
      text-decoration: none;
  }
  
  .footer_link:hover,
  .footer_link:focus,
  .footer_link:active {
      color: #CD6326;
  }
  
  .footer_icon_list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
  }
  
  .icon_img {
      display: inline-block;
      width: 40px;
      height: 40px;
      cursor: pointer;
  }
  
  .icons_img-link::hover,
  .icons_img-link:focus,
  .icons_img-link:active {
      color: #CD6326;
  }
  
  #Facebook-img {
      background: url(../assets/Facebook.svg) no-repeat;
      margin-right: 25px;
  }
  
  #Instagram-img {
      background: url(../assets/Instagram.svg) no-repeat;
      margin-right: 25px;
  }
  
  #Pinterest-img {
      background: url(../assets/Pinterest.svg) no-repeat;
      margin-right: 24px;
  }
  
  #Youtube-img {
      background: url(../assets/YouTube.svg) no-repeat;
      width: 55px;
      height: 55px;
  }
  /*Footer style end*/