  html {
    box-sizing: border-box;
  }

  *, *::before, *::after{
      box-sizing: inherit;
  }

  body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #666666;
  }

  .wrapper{
      max-width: 1440px;
      max-height: 780px;
      margin: 0 auto;
  }

  /* Header stles start*/

  .header{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
  }
  .header_wrapper{
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
      padding-top: 20px;
  }
  .header_list{
      display: flex;
      flex-wrap: wrap;
  }
  .header_item{
      margin-right: 61px;
  }
  .header_item:last-child{
      margin-right: 0;
  }
  .header_link{
      font-size: 23px;
      line-height:60px;
      color: #F7F7F7;
      text-decoration: none;
  }

  .header_link:hover,.header_link:focus,.header_link:active{
    /* opacity: .75; */
    color: #CD6326;
  }

  .button_signIn{
    width: 120px;
    height: 50px;
    background: transparent url(.jpg) no-repeat center;
    border: 2px solid #CD6326;
    border-radius: 5px;
    border-style: solid;
    font-size: 23px;
    font-weight: 400;
    line-height: 27px;
    color: #F7F7F7;
    padding: 2px 6px;
  }
  .button_signIn:hover{
      background: #CD6326;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .button_signIn:focus, .button_signIn:active{
      background: #8F5613;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .header_logo-name{
      width:155px;
      height: 60px;
      font-size: 32px;
      line-height: 60px;
      color: #F7F7F7;
      font-family: 'Roboto', sans-serif;
      text-decoration-line: none;
      text-transform: uppercase
  }
  .header_logo-pic{
      width: 70px;
      height: 60px;
  }

  /* Header stles end*/

  /* intro stles start*/
.intro{
    min-height: 100vh;
    background: url(../assets/intro-bg.jpg) no-repeat center;
    background-size: cover;
    padding-top: 199px;
}

.intro_title{
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    color: #CD6326;
    letter-spacing: 2px;
    margin-bottom: 51px;
}

.intro_subtitle{
    max-width: 274px;
    height: 108px;
    color: #F7F7F7;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 49px;
}

.button_donate{
    width: 160px;
    height: 60px;
    background: #CD6326;
    border-radius: 5px;
    border-style: none;
    font-size: 23px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    padding: 16px 42px;
    color: #F7F7F7;
}

.button_donate:hover{
    background: #E39128;;
}
.button_donate:active,.button_donate:focus{
    background: #8F5613;
}

  /* intro stles end*/

  /*Articles styles start*/

  .articles_wrap{
    max-width: 1440px;
    max-height: 1368px;
    margin: 0 auto;
    position: relative;

}
  .article_title{
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #333333;
    padding-top: 120px;
    margin-bottom: 20px;
    
  }
  .article_subtitle{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #666666;
    margin-bottom: 120px;
  }

  .latest_articles{ 
      background-size: cover;
      background: #CCCCCC;
  }

  .articles_cards{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 60px;
      /* height: 300px;
      height: 360px; */
  }

 /*Articles styles end*/