body {
    color: #747474;
    font-size: 1.8rem;
    line-height: 2.772rem;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif, 'Rubik', sans-serif;
    background: #FCFCFC;
}

.invisible {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}


/* HEADER*/

.header {
    display: flex;
    align-items: center;
    width: 1800px;
    height: 90px;
    margin: 0 79px 0 41px;
    border: 2px solid #F0F0F0;
    box-sizing: border-box;
    background: #FCFCFC
}

.watch-animal-online_section {
    display: flex;
    align-items: center;
    padding: 25px 0 27px 0;
}

.wrapper-main {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
    margin: auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar-list {
    display: flex;
    align-items: center;
}

.navbar-link {
    font-family: 'Rubik', sans-serif;
    font-size: 1.8rem;
    text-decoration: none;
    color: #080029;
}

.navbar-item {
    padding: 0 64px;
}

#map {
    font-weight: bolder;
}

.hov:hover {
    color: #200392;
}

.account-icon {
    padding-left: 610px;
}

.list {
    cursor: pointer;
}


/* HEADER END*/


/* SIDEBAR*/

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #F0F0F0;
    width: 90px;
    height: 760px;
    margin: -90px 41px;
    position: static;
    background: #FCFCFC;
}

.navbar_sidebar {
    padding-top: 250px;
}

.sidebar-icons-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#instgram-icon {
    margin-bottom: 51px;
}

#fb-icon {
    margin-bottom: 54px;
}

#twitter-icon {
    margin-bottom: 100px;
}

.logo-wrapper {
    padding: 25px 19.28px 20px 18.85px;
    border-bottom: #F0F0F0 solid;
}

.main-logo:hover {
    opacity: 0.5;
}

.logo-zoo {
    width: 51.87px;
    height: 40px;
}


/* SIDEBAR END*/


/* MAP */

.map_container {
    background: url(../assets/png/map.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 25px;
    position: relative;
}


/* MAP end */