body {
    color: #747474;
    font-size: 1.8rem;
    line-height: 2.772rem;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif, 'Rubik', sans-serif;
    background: #FCFCFC;
}


/* HEADER*/

.header {
    padding-top: 25px;
    width: 1800px;
    margin: 0 auto;
    position: relative;
}

.header_new .header_wrapper {
    border: 0;
    padding: 19px 0px;
}

.header_new .main-logo {
    border-bottom: 0px;
    margin-right: 95px;
}

.header_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #F0F0F0;
    height: 50px;
    padding: 19px 92px 19px 181px;
    background-color: #FCFCFC;
}

.header_direction {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-logo {
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #F0F0F0;
}

.main-logo:hover {
    opacity: 0.5;
}

.navbar-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.navbar-link {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

#about {
    margin-right: 130px;
    font-weight: 500;
    font-weight: bold;
    font-size: 18px;
}

#about:hover {
    font-weight: normal;
}

.hov:hover {
    color: #200392;
}

#map {
    margin-right: 130px;
    font-weight: bold;
}

#zoos {
    margin-right: 130px;
}

#contact {
    margin-right: 130px;
}

.navbar-link {
    text-decoration: none;
    color: #080029;
}

#account-icon {
    margin-left: 672px;
}

.list {
    cursor: pointer;
}

.invisible {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}


/* HEADER end */


/* MAP */

.map_container {
    background-image: url(./assets/png/map.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}


/* MAP end */