html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    position: relative;
    width: 1920px;
    height: 6290px;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif, 'Rubik', sans-serif;
    background: #FCFCFC
}

.wrapper {
    height: 870px;
    background: #FCFCFC
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1800px;
    height: 90px;
    margin: 55px 79px 0 41px;
    border: 2px solid #F0F0F0;
    box-sizing: border-box;
    background: #FCFCFC
}

.main {
    display: flex;
    flex-wrap: wrap;
    height: 725px;
    margin: auto;
    background: #FCFCFC;
}

.watch-animal-online_section {
    display: flex;
    width: 699px;
    height: 488px;
    margin: 25px 244px 27px 242px;
}

.navbar-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 33px 92px 29px 184px;
}

#about {
    margin-right: 130px;
}

#map {
    margin-right: 130px;
}

#zoos {
    margin-right: 130px;
}

#contact {
    margin-right: 130px;
}

.navbar-link {
    text-decoration: none;
    color: #080029;
}

#account-icon {
    margin-left: 672px;
}

.list {
    cursor: pointer;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #F0F0F0;
    width: 90px;
    height: 760px;
    margin: -90px 41px;
    position: fixed;
}

.sidebar-icons-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#instgram-icon {
    margin-top: 273px;
}

#fb-icon {
    margin-top: 50.23px;
}

#twitter-icon {
    margin-top: 53.14px;
}

#arrow-btn {
    margin-top: 101px;
    margin-bottom: 100px;
}

.logo-wrapper {
    margin: 25px 19.28px 25px 18.85px;
}

.icon_img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.title {
    display: inline;
    font-family: 'Rubik', sans-serif;
    width: 112px;
    height: 26px;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.115em;
    color: #626262;
}

.header-title {
    width: 699px;
    height: 318px;
    font-size: 84px;
    line-height: 106px;
}

.intro-title {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
}

.header_btn {
    border-radius: 5px;
    width: 250px;
    height: 61px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

#choose-zoo {
    text-align: center;
    padding: 20px;
    color: white;
    background-color: #080029;
}

#watch-online {
    color: #080029;
}

.panda_img {
    position: absolute;
    width: 696px;
    height: 673px;
}

.how-zoo-works {
    display: flex;
    height: 980px;
    background: #D9E8FF;
}

.famous-pets {
    display: flex;
    height: 896px;
    background: #D9E8FF;
}

.pay-and-feed {
    display: flex;
    height: 1300px;
    background-color: #FCFCFC;
}

.feedback {
    display: flex;
    height: 616px;
    background-color: #080029;
}

.Zoogeography {
    display: flex;
    height: 862px;
    background-color: #FCFCFC;
}

.footer {
    display: flex;
    position: absolute;
    width: 100%;
    height: 766px;
    background-color: #0B0B0B;
}

@media (max-width: 1200px) {}